.monitorContainer {
  display: flex;
  min-height: inherit;
}

.firstColumnContainer {
  width: 250px;
  overflow-y: auto;
  /* box-shadow: 0px 0px 9px 0px #ddd; */
  max-height: 100vh;
}

.secondColumnContainer {
  min-width: 400px;
  flex-grow: 1;
  /* box-shadow: 0px 0px 9px 0px #ddd; */
  background: #f6f6f6;
}

.thirdColumnContainer {
  width: 350px;
}

@media screen and (max-width: 1001px) {
  .thirdColumnContainer {
    flex-grow: 1;
    order: 1;
  }

  .secondColumnContainer {
    order: 2;
    width: 100%;
    flex-grow: initial;
  }

  .monitorContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .firstColumnContainer {
    width: 100%;
  }
}
