.expandedState {
  font-weight: bold !important;
}

.itemGroup {
  margin-left: 7px !important;
  padding-left: 18px !important;
  border-left: 1px dashed black;
}

.itemContent {
  padding: 0 !important;
}
